extends layout

block content

  div.container.row-fluid
    div.well.well-large
      h1.page-header.text-center PuppetMaster
      div.well
        p#response.text-center Set your nickname, set the App ID, enter a command and press enter

      div.row-fluid
        div.row-fluid.input-prepend.span8
          span.add-on $
          input.input.span11(type="text", id="command", name="command", placeholder="Command")
          input(type="hidden", id="client_bid", value="browser")
        div.row-fluid.input-prepend.span4
          span.add-on
            i.icon-cog
          input.input.span11(type="text", id="client_aid", name="cliend_aid", placeholder="App ID")

        p
          a(href="/jar/PuppetMaster.zip") Download the app
        hr
        p &copy; Gervel Giva 2013
