extends layout

block content

  div#response

  input(id="client_bid", value="client_bid_01")
  input(id="command", name="command")
  input(id="submit-command", type="submit")

  script(src="/socket.io/socket.io.js")
  script
    window.onload = function(){
      var client_bid = document.querySelector("#client_bid").value;

      var socket = io.connect(window.location, 5000);
      socket.on('connect', function () {
        socket.emit("add-client-browser", client_bid);
      });
      socket.on('server-to-client-browser-' + client_bid, function (data) {
        console.log("from server...");
        console.log(data);
      });
      document.addEventListener('keydown', function(event) {
        var command = document.querySelector("#command").value;
        if(event.keyCode == 13) {
          socket.emit('client-browser-to-server-' + client_bid, {command: command});
        }
      });
    }
