doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="/stylesheets/bootstrap/bootstrap.min.css", rel="stylesheet", media="screen")
  body
    block content

    script(src="/javascripts/jquery-1.9.1.min.js ")
    script(src="/javascripts/bootstrap/bootstrap.min.js")
    script(src="/javascripts/script.js ")
    script(src="/socket.io/socket.io.js")
